In [2]:
import pandas as pd

In [3]:
results = "combined_individual_results.csv"
csv = pd.read_csv(results)

In [16]:
csv{csv[csv['struct']=='bg']=='Affine'

      Unnamed: 0  method struct mouse  dice
0            NaN  Affine    NaN   NaN   NaN
1            NaN     NaN    NaN   NaN   NaN
2            NaN     NaN    NaN   NaN   NaN
3            NaN     NaN    NaN   NaN   NaN
4            NaN     NaN    NaN   NaN   NaN
...          ...     ...    ...   ...   ...
3262         NaN     NaN    NaN   NaN   NaN
3263         NaN     NaN    NaN   NaN   NaN
3264         NaN     NaN    NaN   NaN   NaN
3265         NaN     NaN    NaN   NaN   NaN
3266         NaN     NaN    NaN   NaN   NaN

[3267 rows x 5 columns]